@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Здравствуйте</h1>
    <h2 class="display-6">На данном сайте вы можете хранить данные о своём автопарке 
        вашей организации, контролировать расход топлива, следить за перемещением грузов.
    </h2>
    <h3 class="display-6">
        Чтобы использовать все возможности - зарегистрируйтесь. Ваши данные будут храниться 
        в облачном сервисе <a href="https://azure.microsoft.com/ru-ru/">Microsoft Azure</a>.
    </h3>
</div>