@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center">
    <h1 class="display-4">Политика конфиденциальности</h1>
    <h2 class="display-6">Данный проект сделан в рамках выпускной квалификационной работы.
        Все данные, которые будут загружены в базу данных будут использоваться только в
        учебных целях. Данные для входа в систему также не будут использованы в иных целях.
    </h2>
</div>